<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bttf.mappers.memberMapper">

	<insert id="signup">
		INSERT INTO USER_ALL
		(user_email, user_pw, user_name, user_nickname ,  user_phone, main_language)
		VALUES (#{user_email}, #{user_pw }, #{user_name }, #{user_nickname }, #{user_phone },
		#{main_language } )
	</insert>
	
	<select id="emailcheck" resultType="_int">
		SELECT COUNT(*) FROM USER_ALL WHERE user_email = #{user_email}
	</select>
	
	<select id="nickcheck" resultType="_int">
		SELECT COUNT(*) FROM USER_ALL WHERE user_nickname = #{user_nickname}
	</select>
	
	<select id="signin" resultType="kr.co.bttf.domain.MemberVO">
		SELECT * FROM USER_ALL
		WHERE user_email = #{user_email} AND user_pw = #{user_pw} AND
		avaliability_category_id = 1
	</select>

	<select id="login" resultType="kr.co.bttf.domain.MemberVO">
		SELECT * FROM USER_ALL
		WHERE user_email = #{user_email} AND user_pw = #{user_pw} AND
		avaliability_category_id != 4
	</select>


	<select id="readMember" resultType="kr.co.bttf.domain.MemberVO">
		select * from user_all where user_email= #{user_email}
	</select>
	
	<select id="idCheck" resultType="_int">
		SELECT COUNT(*) FROM USER_ALL WHERE user_email= #{user_email} 	 
	</select>
	
	<update id="updatePw" parameterType="kr.co.bttf.domain.MemberVO">
		update user_all set user_pw = #{user_pw} where user_email= #{user_email}
	</update>
	
	<insert id="insert_report_user">
		INSERT INTO report_user
		(user_index, report_category_id )
		VALUES ( #{user_index }, #{report_category_id } )
	</insert>
	
	<update id="memreportcnt" parameterType="_int">
		update report_user set user_reportcnt = user_reportcnt + 1 where user_index= #{user_index}
	</update>
	
	<select id="memcategoryselect" resultType="kr.co.bttf.domain.ReportVO">
		SELECT * FROM report_user
		WHERE user_index = #{user_index}
	</select>
	
	<update id="memcategory2" parameterType="_int">
		update user_all set avaliability_category_id = 2  where user_index= #{user_index}
	</update>
	
	<update id="memcategory3" parameterType="_int">
		update user_all set avaliability_category_id = 3 where user_index= #{user_index}
	</update>
</mapper>